<div class="container_big-card">
  <div class="big-card__photo">
    <img src="https://2.bp.blogspot.com/-EHA-AszF-H8/Wr5ZQObBFzI/AAAAAAAAPmo/WFUDP1TnzeIehEDenDsxFm1VSPlhTou3wCK4BGAYYCw/s1600/homem%2Bde%2Bferro.png"
    alt=""
    height="400px"
    width="450px"
    srcset="">

  </div>
  <div class="big-card__title">
<h1><a href="#">Saiu nova versão Angular</a></h1>
  </div>
  <div class="big-card__description">
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Dolorem, corporis asperiores velit saepe eum suscipit quam
  dolorum hic laborum reiciendis, quisquam quod animi nobis,
  exercitationem mollitia quibusdam facilis ad fugit.
</p>
  </div>
</div>
