<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles_main">
  <app-big-card photoCover="https://2.bp.blogspot.com/-EHA-AszF-H8/Wr5ZQObBFzI/AAAAAAAAPmo/WFUDP1TnzeIehEDenDsxFm1VSPlhTou3wCK4BGAYYCw/s1600/homem%2Bde%2Bferro.png"
  cardTitle="Novo Homem de Ferro"
  cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  ></app-big-card>

  <app-big-card photoCover="https://2.bp.blogspot.com/-EHA-AszF-H8/Wr5ZQObBFzI/AAAAAAAAPmo/WFUDP1TnzeIehEDenDsxFm1VSPlhTou3wCK4BGAYYCw/s1600/homem%2Bde%2Bferro.png"
  cardTitle="Novo Homem de Ferro"
  cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  ></app-big-card>
  </div>
  <div class="articles_orthers">
    <app-small-card cardTitle="Nova Série Anunciada"
    photoCover="https://miro.medium.com/v2/resize:fit:783/1*Kj8Eq401fP2ecTY8r9B89Q.png">
    </app-small-card>
    <app-small-card cardTitle="Nova Série Anunciada"
    photoCover="https://miro.medium.com/v2/resize:fit:783/1*Kj8Eq401fP2ecTY8r9B89Q.png">

    </app-small-card>

    <app-small-card cardTitle="Nova Série Anunciada"
    photoCover="https://miro.medium.com/v2/resize:fit:783/1*Kj8Eq401fP2ecTY8r9B89Q.png">

    </app-small-card>
  </div>
</div>

